# Hướng dẫn Python Pandas (Phần 6): Thêm / Xóa hàng và cột khỏi DataFrames

## Part 1

##### Khai báo thư viện

In [1]:
import pandas as pd

##### Tạo từ điển people

In [2]:
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"], 
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

##### Tạo dataframe từ từ điển trên

In [3]:
df = pd.DataFrame(people)

##### In ra dữ liệu

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDoe@gmail.com
2   John      Doe        JohnDoe@gmail.com

##### Thêm cột 'fullname' bằng cách ghép cột 'first' và cột 'last'

In [5]:
df['first'] + ' ' + df['last']

0    Corey Schafer
1         Jane Doe
2         John Doe
dtype: object

In [6]:
df['fullname'] = df['first'] + ' ' + df['last']

##### In ra dữ liệu sau khi thêm

In [7]:
df

   first     last                    email       fullname
0  Corey  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1   Jane      Doe        JaneDoe@gmail.com       Jane Doe
2   John      Doe        JohnDoe@gmail.com       John Doe

##### Xóa cột 'first'

In [8]:
df.drop(columns=['first'], inplace=True)

##### In ra dữ liệu sau khi xóa

In [9]:
df

      last                    email       fullname
0  Schafer  CoreyMSchafer@gmail.com  Corey Schafer
1      Doe        JaneDoe@gmail.com       Jane Doe
2      Doe        JohnDoe@gmail.com       John Doe

##### Tách cột 'fullname' thành cột 'first' và 'last_'

In [10]:
arr = df['fullname'].str.split(' ').array

In [11]:
df['first'] = [x[0] for x in arr]
df['last_'] = [x[-1] for x in arr]

In [12]:
df

      last                    email       fullname  first    last_
0  Schafer  CoreyMSchafer@gmail.com  Corey Schafer  Corey  Schafer
1      Doe        JaneDoe@gmail.com       Jane Doe   Jane      Doe
2      Doe        JohnDoe@gmail.com       John Doe   John      Doe

##### Tách cột 'fullname' thành cột 'first' và 'last_' (cách 2)

In [13]:
df['fullname'].str.split(' ', expand=True)

       0        1
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [14]:
df[['first__', 'last__']] = df['fullname'].str.split(' ', expand=True)

In [15]:
df

,last,email,fullname,first,last_,first__,last__
0,Schafer,CoreyMSchafer@gmail.com,Corey Schafer,Corey,Schafer,Corey,Schafer
1,Doe,JaneDoe@gmail.com,Jane Doe,Jane,Doe,Jane,Doe
2,Doe,JohnDoe@gmail.com,John Doe,John,Doe,John,Doe

In [16]:
df.drop(columns=['fullname', 'last_', 'first__', 'last__'], inplace=True)

In [17]:
df

      last                    email  first
0  Schafer  CoreyMSchafer@gmail.com  Corey
1      Doe        JaneDoe@gmail.com   Jane
2      Doe        JohnDoe@gmail.com   John

##### Thêm hàng vào dữ liệu

In [18]:
df._append({'last':'Tony'}, ignore_index=True)

      last                    email  first
0  Schafer  CoreyMSchafer@gmail.com  Corey
1      Doe        JaneDoe@gmail.com   Jane
2      Doe        JohnDoe@gmail.com   John
3     Tony                      NaN    NaN

##### Ghép 2 dataframe với nhau

In [19]:
people = {
    "first" : ["Corey", "Jane", "John"],
    "last" : ["Schafer", "Doe", "Doe"], 
    "email" : ["CoreyMSchafer@gmail.com", "JaneDoe@gmail.com", "JohnDoe@gmail.com"]
}

In [20]:
df2 = pd.DataFrame(people)

In [21]:
df = df._append(df2, ignore_index=True, sort=True)
## ignore_index = True nghĩa là chỉ mục của hàng thêm vào được tạo tự động
## sort = True nghia là sắp xếp teen cột theo bảng chữ cái

In [22]:
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDoe@gmail.com   Jane      Doe
2        JohnDoe@gmail.com   John      Doe
3  CoreyMSchafer@gmail.com  Corey  Schafer
4        JaneDoe@gmail.com   Jane      Doe
5        JohnDoe@gmail.com   John      Doe

##### Xóa đi hàng dữ liệu

In [23]:
df = df.drop(index=[0, 2])

In [24]:
df

                     email  first     last
1        JaneDoe@gmail.com   Jane      Doe
3  CoreyMSchafer@gmail.com  Corey  Schafer
4        JaneDoe@gmail.com   Jane      Doe
5        JohnDoe@gmail.com   John      Doe

##### Loại bỏ tất cả các hàng có last == 'Doe'

In [25]:
filt = df['last'] == 'Doe'

In [26]:
df = df.drop(index=df.loc[filt].index)

In [27]:
df

                     email  first     last
3  CoreyMSchafer@gmail.com  Corey  Schafer